<!DOCTYPE html>
<html ng-app="application">
<head>
    <title>Computers database</title>
    <link rel="stylesheet" type="text/css" media="screen" href='/assets/stylesheets/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" media="screen" href='/assets/stylesheets/main.css'>
    <script type="text/javascript" src='/assets/javascripts/angular.min.js'></script>
    <script type="text/javascript" src='/assets/javascripts/angular-resource.min.js'></script>
    <script type="text/javascript" src='/assets/javascripts/routes'></script>
    <script type="text/javascript" src='/assets/javascripts/computers.js'></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
            <a href="#" class="brand">
        Play 2.0 sample application &mdash; Computer database
    </a>
    </div>
</div>

<section ng-view id="main">
</section>
<script src="/assets/javascripts/jquery-1.8.3.min.js"></script>
<script src="/assets/javascripts/bootstrap.min.js"></script>
</body>
</html>
